body {
    font-family: "DM Sans", sans-serif;
    background-color: black;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

footer {
    display: block;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 24px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: block;
    font-size: 75px;
    color: white;
}

.space {
    height: 15px
}

.space_login {
    height: 25px
}

#label_form {
   color: white;
}

.senha {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: right;
    color: white;
}

.conta {
    margin-top: 25px;
    display: block;
    text-align: center;
    color: white;
}

.main {
    display: flex;
}

#input_form {
    width: 520px;
    height: 60px;
    border-radius: 15px;
    padding-left: 15px;
    border: solid 3px rgb(0, 255, 234);
    background: rgb(24, 24, 24);
    font-size: 20px;
    color: white;
}

#button {
    width: 545px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(-170deg,rgb(0, 255, 234),rgb(0, 132, 255),rgb(0, 54, 104));
    color: white;
}

#button:hover{
    background-image: linear-gradient(-170deg,rgb(0, 179, 164),rgb(0, 83, 161),rgb(0, 35, 68));
    cursor: pointer;
}

.background {
    display: flex;
    justify-content: end;
    width: 50%;
}

.image_background {
    position: fixed;
    background-size:cover;
    width: 50%;
    height: 100%;
}